.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #ccffff;
  overflow: hidden;
}

.logo{
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 100px;
  width: auto;
  height: auto;
}

.navLinks{
  display: flex;
  gap: 20px;
  align-self: center;
  padding: 0 20px;
  
}

.mainText {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin: 1rem;
}

.codeForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: transparent;
  box-shadow: none;
}

.codeForm input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 0.5rem 0.75rem;
  border-radius: 0;
  font-size: 2rem;
  color: #eee;
  width: 400px;
  outline: none;
  transition: border-bottom-color 0.3s ease;
}

.codeForm input::placeholder {
  color: #aaa;
}

.codeForm input:focus {
  border-bottom-color: #000;
  color: #000;
}

.joinButton {
  margin-left: 1rem;
  margin-top: 1rem;
  padding: .75rem 1.75rem;
  font-size: 1.5rem;
  background-color: #00cccc;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.joinButton:hover {
  background-color: #009999;
}
